@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-surface text-slate-100 antialiased;
}

a {
  @apply text-accent hover:text-accent-2 transition-colors;
}
